#SpiltPane-Anchor{
    fx-text-fill: #f4f4f4;
}
.jfx-button{
    -fx-border-radius: 4px;
    -fx-text-fill: #f4f4f4;
    -fx-border-color: #f4f4f4 ;
}
#Svg1{
    -fx-background-image: url("Redo.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 25px;
    -fx-background-position: center;
}
#Svg2{
    -fx-background-image: url("Undo.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 25px;
    -fx-background-position: center;
}
.jfx-combo-box {
    -fx-fill: #f4f4f4;
}
.jfx-slider:horizontal .colored-track{
    -fx-background-color: rgba(0, 114, 255, 0.94);
}
.jfx-slider:horizontal .thumb{
    -fx-background-color: rgba(0, 114, 255, 0.94);
}
#SvgPaint{
    -fx-background-image: url("paint-brush.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20px;
    -fx-background-position: center;
}
#SvgErase{
    -fx-background-image: url("eraser.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 18px;
    -fx-background-position: center;
}
#SvgText{
    -fx-background-image: url("text.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 16px;
    -fx-background-position: center;
}
#SvgFill{
    -fx-background-image: url("paint-bucket.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 19px;
    -fx-background-position: center;
}
#SvgEye{
    -fx-background-image: url("dropper.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 19px;
    -fx-background-position: center;
}
#SvgZoom{
    -fx-background-image: url("zoom.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 19px;
    -fx-background-position: center;
}